* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.sp linguist-language=SourcePawn
*.inc linguist-language=SourcePawn
*.kv linguist-language=Text

.vscode/** linguist-vendored=true
